<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OtoPark_Otomasyon_Sistemi.Properties.Settings.ConnectionString"
            connectionString="Data Source=LAPTOP-KH982DGC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtoPark_Otomasyon_Sistemi.Properties.Settings.otopakkConnectionString"
            connectionString="Data Source=LAPTOP-KH982DGC;Initial Catalog=otopakk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>